<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe</title>
</head>
<body>
    <h1>Edit {{recipe.name}}</h1>
    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="/recipes/{{recipe.id}}/update" method="POST">
        Name: <input type="text" name="name" value='{{recipe.name}}'>
        Date Made On: <input type="date" name="date" value='{{recipe.date}}'><br>
        Description: <textarea name="description">{{recipe.description}}</textarea>
        <label for="under_thirty_minutes">Under 30 Minutes?</label>
        <label for="under_thirty_minutes">Yes</label>
        <input type="radio" value="Y" name="under_thirty_minutes">
        <label for="under_thirty_minutes">No</label>
        <input type="radio" value="N" name="under_thirty_minutes"><br>
        Instructions: <textarea name="instructions">{{recipe.instructions}}</textarea>
        <input type="submit" value="Update">
    </form>
    <br>
    <a href="/dashboard">Dashboard</a>
    <a href="/users/logout">Logout</a>
</body>
</html>