* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

.border {
    border: 4px solid lightgray;
}

.flexed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
}

nav {
    color: white;
    background-color: black;
}

nav ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    width: 70%;
}

#leftColumn {
    flex: 2;
    min-height: 400px;
    margin: 10px;
    padding: 20px;
}

#rightColumn {
    flex: 1;
    min-height: 400px;
    padding: 1.5em;
}

.button {
    background-color: dimgray;
    color: white;
    margin: 10px;
    min-height: 20px;
}

.cR {
    border-radius: 50%;
}

.yC {
    border-radius: 50%;
}

