* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    font-family: cursive;
}

.border {
    border: 4px solid lightgray;
}

.flexed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
}

nav {
    color: white;
    background-color: black;
}

nav ul {
    list-style: none;
}

#signOut {
    background-color: teal;
}

.container {
    margin: 0 auto;
    width: 70%;
}

#leftColumn {
    flex: 2;
    min-height: 800px;
    margin: 10px;
    padding: 20px;
}

#blueBar {
    background-color:teal;
}

h3 {
    color: white;
    background-color: dimgrey;
    padding: 10px;
}

#rightColumn {
    flex: 1;
    min-height: 800px;
    padding: 1.5em;
}

.button {
    padding: 20px;
    background-color: dimgray;
    color: white;
    min-height: 20px;
}

.cR {
    border-radius: 50%;
}

.yC {
    border-radius: 50%;
}

.userCircle {
    height: 100px;
}

img {
    height: 40px;
}

ul {
    padding: 10px;
    list-style: none;
}