* body {
    font-family: sans-serif;
    background-color: white;
    margin: 10px;
}

.centered {
    text-align: center;
}



h1 {
    background-color: black;
    color: white;
}

h1 span {
    color: cyan;
}

h2 {
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    font-style: italic;
}

h3 {
    background-color: cadetblue;
    text-align: right;
    text-decoration: underline;
}

.flag {
    width: 500px;
    height: 300px;
    outline: 1px solid red;
    background-color: white;
}

#dot {
    border-radius: 100%;
    height: 150px;
    width: 150px;
    margin-top: 15%;
    color: red;
    background-color: red;
    display: inline-block;
}

.button {
    margin: 20px;
}

.button1 {
    font-weight: bolder;
    padding: 5px;
    width: 100px;
    color: rgb(27, 161, 148);
    background-color: lightgrey;
    border: 2px solid rgb(27, 161, 148);
    border-radius: 50%;
}

.button2 {
    border-radius: 100%;
    background-color:turquoise ;
}

.button3 {
    color: white;
    background-color: rgb(24, 67, 206);
}