* body {
    background-color:dimgray;
    margin: 10px;
}

.centered {
    text-align: center;
}



h1 {
    padding: 10px;
    font-family:cursive;
    color:white;
    background-color:black;
}

h2 {
    padding: 10px;
    font-family: cursive;
    color: white;
    background-color: rebeccapurple;
}

h3 {
    padding: 10px;
    text-align: right;
    text-decoration: underline;
    background-color: skyblue;
}

.flag {
    width: 500px;
    height: 300px;
    outline: 1px solid red;
    background-color: white;
}

#dot {
    border-radius: 100%;
    height: 150px;
    width: 150px;
    margin-top: 15%;
    color: red;
    background-color: red;
    display: inline-block;
}